body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100vw;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

input {
	outline: none !important;
	text-shadow: 1px 1px #100161;
}

#root {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		rgb(156, 140, 245),
		rgb(156, 140, 245),
		rgb(11, 11, 11)
	);
}

a {
  text-decoration: none;
  color: rgb(14, 199, 212);
}
